.container{
    display: flex;
    align-items: stretch;
    background: #ccc;
}

.container > div{
    margin: 10px;
    line-height: 75px
}

#texto{
    
    background: #cecece;
    text-align: justify;
}

#texto > p{
    text-align: center;
    margin: 1px 30%;
}
